table {
    border-collapse: collapse;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 4rem;
    margin-left: 13.5rem;
    margin-right: 0.5rem;
    background-color: #f2f2f2;
}

th, td {
    text-align: center;
    padding: 0.5rem;
    padding: 1rem;
}

th {
    border-bottom: solid 1px black;
}

tr:hover {
    background-color: #e1e1e1;
}
